@media screen and (min-width: 480px) {
  #navbar {
    width: 300px;
    float: left;
    left: 0;
  }
  #main-section {
    margin-left: 216px;
  }
}

.main-section {
  background-color: rgb(255, 255, 255);
  margin: 0;
  font-size: 1.2rem;
  font-style: normal;
  font-family: "Courier New", Courier, monospace;
}

#navbar {
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  height: 100%;
  border-right: 2px black solid;
}

#navbar li {
  padding: 10px 20px;
  font-size: 1.3rem;
}

#CPPDocumentation {
  flex: content;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 10px 0px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  border-top: black solid 1px;
}

a {
  color: black;
  text-decoration: none;
}

p {
  padding-left: 30px;
}

main {
  overflow: hidden;
  padding-left: 20px;
  margin-left: 240px;
  margin-left: 350px;
  padding-right: 50px;
}

main header {
  font-weight: bold;
  font-size: 1.8rem;
  padding-top: 20px;
}

main li {
  list-style-position: inside;
  padding-left: 20px;
  padding-bottom: 20px;
}

#Reference a {
  color: blue;
}

#Hello_world li {
  list-style: none;
  padding: 5px 1px;
}

#Hello_world ul {
  background-color: rgb(245, 245, 245);
  color: black;
}

#Declaring_variables li {
  list-style: none;
  padding: 5px 1px;
}

#Declaring_variables ul {
  background-color: rgb(245, 245, 245);
  color: black;
}

#Constants li {
  list-style: none;
  padding: 5px 1px;
}

#Constants ul {
  background-color: rgb(245, 245, 245);
  color: black;
}

#if_else_statement li {
  list-style: none;
  padding: 5px 1px;
}

#if_else_statement ul {
  background-color: rgb(245, 245, 245);
  color: black;
}

#While_statement ul {
  background-color: rgb(245, 245, 245);
  color: black;
}

#While_statement li {
  list-style: none;
  padding: 5px 1px;
}

.FDUL {
  background-color: rgb(245, 245, 245);
  color: black;
}

.FDUL li {
  list-style: none;
  padding: 5px 1px;
}
